
.color-picker canvas {
  border: 1px solid #888;
}

.color-picker canvas.main:hover {
  cursor: crosshair;
}

.color-picker canvas.spectrum:hover {
  cursor: row-resize;
}

.color-picker canvas:active {
  cursor: none;
}
